/*Setting background color with universal selector*/
* {
  background-color: #dddddd;
  /*font-family: 'pacifico', sans-serif;*/
}
/*All h1 to pacifico from Google Fonts. Back up is sans-serif*/
h1  {
  font-family: 'pacifico', sans-serif;
  text-align: center;

}
/*center all three classes*/
.reply,  .mainnavs, .accomplishments {
  text-align: center;
  font-size: 20px;
}
/*coudn't get anchor element to center by adding to the .reply class*/
a {
  display: block;
  text-decoration: none;
  color: #ffff00;
  font-size: 25px;
}

.indexpictures {
  border-radius: 100%;
  display: block;
  max-width: 500px;
  margin: 0 auto 30px;
}

#box1 {
  border-style: solid;
  border-width: 3px;
  margin: 5px 50px 5px 50px;
}

ul {
  list-style-type: none;
}
/*Footer*/
#footer1 {
  font-size: 15px;
}
